{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<div class="display-sign-container batch-container login-container" style="z-index: 1000;">
    <div class="sign-up-container">
        
        <div class="sign-up-card">
            <h5>Please confirm your email address to complete the registration.</h5>
        </div>
        <span>Continue create your profile by provide some personal info.</span>
        <p><span>Note:</span> You can not create a channel without having a profile.</p>
        <a class="create-profile-link" href="{% url 'GasApp:login' %}"></a>
    </div>
</div>

{% endblock content %}