<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/slick-1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/slick-1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section id="hero">
        <div class="hero-container">
            <div class="hero-text-cta">
                <h1>
                    Welcome To <span>Deeper Life Bible</span> Church
                </h1>
                <p>
                    Embrace the call to reach every soul, regardless of race, social status, or language. We are devoted to sharing God's love and grace, nurturing individuals toward spiritual maturity in the image of Christ.
                </p>
                <a href="#">
                    <div class="join-special-button">
                        <p>Join us</p>
                        <div class="join-arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slideshow">
                <div style="background: url('/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                <div style="background: url('/static/images/jon-tyson--0o9dgxEu5Q-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                <div style="background: url('/static/images/Rectangle\ 85.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
            </div>

        </div>
    </section>
    <script src="/static/js/slider.js"></script>

</body>

</html>