<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/js/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/slick-1.8.1/slick/slick-theme.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/slick-1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="nav-header" id="header">
        <div class="navigation-container">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Sermon</li>
                    <li>Connect</li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img src="/static/images/dlbc.png" alt="">
        </div>
        <div class="donate-join-container">
            <a href="#"><button class="donate" type="button">Donate</button></a>
            <a href="#"><button class="join" type="button">Join us</button></a>
        </div>
    </div>
    <section id="hero">
        <div class="hero-container">
            <div class="hero-text-cta">
                <h1>
                    Welcome To <span>Deeper Life Bible</span> Church
                </h1>
                <p>
                    Embrace the call to reach every soul, regardless of race, social status, or language. We are devoted to sharing God's love and grace, nurturing individuals toward spiritual maturity in the image of Christ.
                </p>
                <a href="#">
                    <div class="join-special-button">
                        <p>Join us</p>
                        <div class="join-arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slideshow">
                <div style="background: url('/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                <div style="background: url('/static/images/jon-tyson--0o9dgxEu5Q-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                <div style="background: url('/static/images/Rectangle\ 85.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
            </div>
        </div>
    </section>
    <section id="about-church" style="background: url('/static/images/Rectangle\ 87.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <div class="section-title-container">
            <div class="section-title">
                <h1><span>About</span> Our Church</h1>
            </div>
            <div class="know-more">
                <a href="#">Know More</a>
            </div>
        </div>
        <div class="about-section-main-container">
            <div class="about-card-container">
                <div class="about-card-1 about-card-11">
                    <img src="/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg" alt="">
                    <div class="about-text">
                        <h2>Deeper Relationships, Deeper Understanding</h2>
                        <p>Dive into the scriptures and cultivate profound relationships with Christ, deepening your understanding of the Word in a transformative journey of spiritual enrichment.
                        </p>
                    </div>
                </div>
                <div class="about-card-2 about-card-12">
                    <div class="about-text">
                        <h2>Community-Centric Faith Growth</h2>
                        <p>Join our vibrant community as we collectively nurture and strengthen our faith with Jesus, fostering a warm and supportive environment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-card-container">
                <div class="about-card-2 about-card-21">
                    <div class="about-text">
                        <h2>Passionate Community Evangelism</h2>
                        <p>Engage in our fervent mission of community-based evangelism, targeting the hearts of Youth, Young Adults, and Adults with a passion for sharing the love of Christ.
                        </p>
                    </div>
                </div>
                <div class="about-card-1 about-card-22">
                    <img src="/static/images/jon-tyson--0o9dgxEu5Q-unsplash.jpg" alt="">
                    <div class="about-text">
                        <h2>Growth Mindset Discipleship Training</h2>
                        <p>Embrace a growth mindset through our dynamic discipleship training, tailored for both seasoned believers and newcomers. Accept Christ today and embark on a fulfilling journey of continuous spiritual growth. 🌱
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="/static/js/slider.js"></script>

</body>

</html>