<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="veiwpoint" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="connect.css"/>
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="I'M NEW">I'M NEW</a>
                        </li>
                        <li>
                            <a id="red" href="">ABOUT</a>
                        </li>
                        <li>
                            <a href="SERMON">SERMON</a>
                        </li>
                        <li>
                            <a href="CONNECT">CONNECT</a>
                        </li>
                    </ul>
                </div>
                <div class="left">
                    <div class="donate">
                        <a href="donate">Donate</a>
                    </div>
                    <div class="join">
                        <a href="join us">Join Us</a>
                    </div>
                </div>
            </div>
             <div class="connect">
                <div class="some">
                    <div class="name">
                        <h2>Send Us A Message</h2>
                    </div>
                    <div class="net">
                        <div class="down">
                            <p>Full Name </p>
                            <br>
                            <input class="your" type="text" placeholder="Enter Your Full Name">
                            <br>
                            <p>Email</p>
                            <input class="email" type="email" placeholder="Example@Email.com">
                            <br>
                            <p>
                                Phone Number
                            </p>
                            <br>
                            <input class="number" type="textbox" placeholder="Your Message Here">
                            <a id="me" href="send"><div><botton class="send">Send</botton></div></a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </body>
</html>