{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-width, initial-scale=1.0" /> {% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/donate.css' %}" /> {% endblock %}
</head>

<body>
    {% block content %}
    <div class="main donate-page">
        <div class="first" style="background: url({% static 'images/wallet.jpg' %}); backgroud-repeat: no-repeat; backgroud-cover: cover;">
            <div class="don">
                <a hef="DONATE">DONATE</a>
            </div>
        </div>
        <div class="grapes" style="background: url({% static 'images/grape.jpg' %}); backgroud-repeat: no-repeat; backgroud-cover: cover;">
            <div class="part">
                <h1>{{page.caption_title|richtext}}</h1>
                <p>{{page.caption_text|richtext}}
                </p>
                <a href="{{page.donate_link}}" target="_blank" class="give-anchor">
                    <div class="give">DONATE</div>
                </a>
            </div>

        </div>

    </div>
    {% endblock %}
</body>

</html>