{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block title %}
    <title>Home - DLBC Clarksville</title>{% endblock %}
</head>

<body>
    {% block content %}
    <section id="hero">
        <div class="hero-container">
            <div class="hero-text-cta">
                <h1>
                    Welcome To <span>Deeper Life Bible</span> Church
                </h1>
                <p class="hero-text">
                    {{page.hero_section_text|richtext}}
                </p>
                <a href="{% url 'authentication:signup' %}">
                    <div class="join-special-button">
                        <p>Join us</p>
                        <div class="join-arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slideshow">
                {% if page.slider_image_1 %}
                <div style="background: url('{{page.slider_image_1.url}}');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% else %}
                <div style="background: url('/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% endif %} {% if page.slider_image_2 %}
                <div style="background: url('{{page.slider_image_2.url}}');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% else %}
                <div style="background: url('/static/images/jon-tyson--0o9dgxEu5Q-unsplash.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% endif %} {% if page.slider_image_3 %}
                <div style="background: url('{{page.slider_image_3.url}}');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% else %}
                <div style="background: url('/static/images/Rectangle\ 85.jpg');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% endif %} {% if page.slider_image_4 %}
                <div style="background: url('{{page.slider_image_4.url}}');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% else %} <span></span>{% endif %} {% if page.slider_image_5 %}
                <div style="background: url('{{page.slider_image_5.url}}');background-repeat: no-repeat; background-size: cover;background-position: 0;"></div>
                {% else %} <span></span> {% endif %}
            </div>
        </div>
    </section>
    <section id="about-church" style="{% if page.about_church_background_image %} background: url('{{page.about_church_background_image.url}}') {% else %} background: url('/static/images/Rectangle\ 87.jpg'){% endif %}; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <div class="section-title-container">
            <div class="section-title">
                <h1><span>About</span> Our Church</h1>
            </div>
            <div class="know-more">
                <a href="{{ settings.home.ImportantPages.page_url.about }}">Know More</a>
            </div>
        </div>
        <div class="about-section-main-container">
            <div class="about-card-container">
                <div class="about-card-1 about-card-11">
                    <img src="{% if page.about_church_image_1 %}{{page.about_church_image_1.url}} {% else %}/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg {% endif %}" alt="">
                    <div class="about-text">
                        <h2>{% if page.about_church_title_1 %}{{page.about_church_title_1|title}}{% else %}Deeper Relationships, Deeper Understanding{% endif %}</h2>
                        <p>{% if page.about_church_text_1 %}{{page.about_church_text_1|richtext}}{% else %}Dive into the scriptures and cultivate profound relationships with Christ, deepening your understanding of the Word in a transformative journey of
                            spiritual enrichment. {% endif %}
                        </p>
                    </div>
                </div>
                <div class="about-card-2 about-card-12">
                    <div class="about-text">
                        <h2>{% if page.about_church_title_2 %}{{page.about_church_title_2|title}}{% else %}Community-Centric Faith Growth {% endif %}</h2>
                        <p>{% if page.about_church_text_2 %}{{page.about_church_text_2|richtext}}{% else %}Join our vibrant community as we collectively nurture and strengthen our faith with Jesus, fostering a warm and supportive environment.{% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-card-container">
                <div class="about-card-2 about-card-21">
                    <div class="about-text">
                        <h2>{% if page.about_church_title_3 %}{{page.about_church_title_3|title}}{% else %}Passionate Community Evangelism {% endif %}</h2>
                        <p>{% if page.about_church_text_3 %}{{page.about_church_text_3|richtext}}{% else %}Engage in our fervent mission of community-based evangelism, targeting the hearts of Youth, Young Adults, and Adults with a passion for sharing the
                            love of Christ.{% endif %}
                        </p>
                    </div>
                </div>
                <div class="about-card-1 about-card-22">
                    <img src="{% if page.about_church_image_4 %}{{page.about_church_image_4.url}} {% else %}/static/images/jon-tyson--0o9dgxEu5Q-unsplash.jpg{% endif %}" alt="">
                    <div class="about-text">
                        <h2>{% if page.about_church_title_4 %}{{page.about_church_title_4|title}}{% else %}Growth Mindset Discipleship Training {% endif %}</h2>
                        <p>{% if page.about_church_text_4 %}{{page.about_church_text_4|richtext}}{% else %}Embrace a growth mindset through our dynamic discipleship training, tailored for both seasoned believers and newcomers. Accept Christ today and embark
                            on a fulfilling journey of continuous spiritual growth. 🌱{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="redemption-section" class="redemption-section" style="background: url('/static/images/edward-cisneros-QSa-uv4WJ0k-unsplash.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <div class="redemption-section-container">
            <div class="redemption-section-text-container">
                <div class="section-title">
                    <h1><span>Full </span>Redemption <span>Through </span>Christ</h1>
                </div>
                <div class="redemption-section-body-text">
                    <p>Embark on a Journey of Christ-Centered Living, Diversity, and Spiritual Growth. Join us in Worship, Learn, and Impact Lives Together.</p>
                </div>
            </div>
            <div class="union-image"><img src="/static/images/Union.png" alt=""></div>
        </div>
    </section>
    <section class="subscribe-to-newsletter">
        {% include 'home/subscribe_form.html' %}
    </section>
    <section class="daily-devotion" style="background: url('/static/images/Rectangle\ 44.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <div class="section-title-container">
            <div class="section-title">
                <h1>Daily <span>Devotional</span></h1>
                <p><span>GCK King's Circle,</span> Higher Everyday for <span>youth </span> and daily manna for <span>adults</span></p>
            </div>
            <div class="know-more">
                <a href="{% url 'authentication:signup' %}"><button class="donate" type="button">Join us</button></a>
            </div>
        </div>
        <div class="daily-devotion-container">
            <div class="gck-daily daily-devotion-card"><iframe class="gck-video" src="https://www.youtube.com/embed/oOQFi-qDBZ8?si=Om2kLmgu3svRWLiG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            {% if daily_devotions %} {% for devotion in daily_devotions %}
            <div href="{{ devotion.devotion_url }}" class="daily-manner daily-devotion-card" style="background: url('{{devotion.devotion_image.url}}'); background-repeat: no-repeat; background-size: cover;">
                <a href="{{ devotion.devotion_url }}">
                    <h2>{{devotion.devotion_type|title}}</h2>
                </a>
            </div>
            {% endfor %} {% else %}
            <div href="https://dailymanna.app/category/daily-manna/" class="daily-manner daily-devotion-card" style="background: url('/static/images/priscilla-du-preez-x_jAYPjskYI-unsplash.jpg'); background-repeat: no-repeat; background-size: cover;">
                <a href="https://dailymanna.app/category/daily-manna/">
                    <h2>Daily Manner</h2>
                </a>
            </div>
            <div class="higher-everyday daily-devotion-card" style="background: url('/static/images/ankush-minda-TLBplYQvqn0-unsplash.jpg'); background-repeat: no-repeat; background-size: cover;">
                <a href="https://dailymanna.app/category/higher-everyday/">
                    <h2>Higher Everyday</h2>
                </a>
            </div> {% endif %}


        </div>
    </section>
    <section class="daily-devotion weekly-service">
        <div class="section-title-container">
            <div class="section-title">
                <h1>Worship <span>with Us</span></h1>
                <p>Grow your faith in God with daily consistent fellowship with Christ.</p>
            </div>
            <div class="know-more">
                <a href="{% url 'authentication:signup' %}">
                    <button class="donate" type="button">Become a member <svg viewBox="0 0 37 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7418 12.162C23.4643 11.2647 24.6356 11.2647 25.3581 12.162L32.7581 21.3532C33.4806 22.2505 33.4806 23.7054 32.7581 24.6027L25.3581 33.7939C24.6356 34.6912 23.4643 34.6912 22.7418 33.7939C22.0193 32.8966 22.0193 31.4417 22.7418 30.5443L26.9837 25.2758H5.54995C4.52823 25.2758 3.69995 24.247 3.69995 22.978C3.69995 21.7089 4.52823 20.6802 5.54995 20.6802H26.9837L22.7418 15.4116C22.0193 14.5142 22.0193 13.0594 22.7418 12.162Z" fill="#000468"/>
                    </svg>
                    </button>
                </a>
            </div>
        </div>
        <div class="daily-devotion-container weekly-service-container">
            {% if worship_services %} {% for service in worship_services %}
            <div class="worship-service-container">
                <div class="sunday-worship daily-devotion-card" style="background: url('{{ service.service_image.url }}'); background-repeat: no-repeat; background-size: cover;">
                </div>
                <h3>{{service.service_title }}</h3>
                <span class="service-time">
                    <p class="time-from">{{service.time_from}} </p> <p>&mdash;</p>
                    <p class="time-to"> {{service.time_to}}</p>
                </span>
            </div> {% endfor %}{% else %}
            <div class="worship-service-container">
                <div class="sunday-worship daily-devotion-card" style="background: url('/static/images/sundayservice.png'); background-repeat: no-repeat; background-size: cover; background-position: 0 -30px;">
                </div>
                <h3>Sunday Worship Service</h3>
                <span class="service-time">
                    <p class="time-from">9am </p> <p>&mdash;</p> 
                    <p class="time-to"> 12pm</p>
                </span>
            </div>
            <div class="worship-service-container">
                <div class="revival-service daily-devotion-card" style="background: url('/static/images/revivalservice.png'); background-repeat: no-repeat; background-size: cover; background-position: 0 -30px;">
                </div>
                <h3>Friday Fellowship and Prayer</h3>
                <span class="service-time">
                    <p class="time-from">4pm </p> <p>&mdash;</p>
                    <p class="time-to"> 6pm</p>
                </span>
            </div>
            <div class="worship-service-container">
                <div class="bible-study daily-devotion-card" style="background: url('/static/images/biblestudy.png'); background-repeat: no-repeat; background-size: cover; background-position: 0 -30px;">
                </div>
                <div class="service-name-zoom">
                    <h3>Wednesday Bible Study</h3>
                    <div class="zoom-service"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M1.984 7.506v6.74c.006 1.524 1.361 2.75 3.014 2.745h10.693c.303 0 .549-.225.549-.498v-6.74c-.008-1.523-1.363-2.75-3.014-2.744H2.531c-.302 0-.547.224-.547.497zm14.936 2.63 4.416-2.963c.383-.292.68-.219.68.309v9.036c0 .601-.363.528-.68.309L16.92 13.87v-3.734z"></path></svg></div>
                </div>
                <span class="service-time">
                    <p class="time-from">3pm </p> <p>&mdash;</p>
                    <p class="time-to"> 6pm</p>
                </span>
            </div>{% endif %}

        </div>
    </section>{% endblock content %}
</body>

</html>