<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="new.css">
    <body>
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="I'M NEW">I'M NEW</a>
                        </li>
                        <li>
                            <a id="red" href="">ABOUT</a>
                        </li>
                        <li>
                            <a href="SERMON">SERMON</a>
                        </li>
                        <li>
                            <a href="CONNECT">CONNECT</a>
                        </li>
                    </ul>
                </div>
                <div class="left">
                    <div class="donate">
                        <a href="donate">Donate</a>
                    </div>
                    <div class="join">
                        <a href="join us">Join Us</a>
                    </div>
                </div>
            </div>
            <div class="pix">
                <div class="dem">
                    <h3 >I'M NEW</h3>
                    <p id="me">Step into a Sanctuary of Faith, 
                        Love, and Spiritual Growth
                    </p>
                </div>
            </div>
            <div class="boy">
                <img src="boy.jpg" alt="small boy praying"/>
                <div class="lam">
                    <p class="rap">
                        We invite you to belong and join us any Sunday 
                        for our weekly worship gathering.
                    </p>
                    <div id="nop"></div>
                    <div class="hello">
                        <p>
                            Hello, dear friend! With immense joy, I extend
                             a heartfelt welcome to you from the entire family
                              at Deeper Life Bible Church, Washington DC. Your 
                            presence here is a source of great excitement for us.
                        </p>
                    </div>
                </div>
            </div>
            <div class="christ">
                <img src="christ.jpg" alt="man alone">
                <h2 id="sch">
                    Experience Christ-Centered Living
                </h2>
                <p id="late">
                    Join us in a journey of deepening your faith and quenching 
                    your thirst for the divine. DLBC Washington DC is more than a church; 
                    it's a community dedicated to genuine worship, profound
                    teachings, and an unyielding commitment to spreading the gospel of Jesus.
                </p>
            </div>
            <div class="spiritual">
                
                <div id="mens">
                    <H2>Your Spiritual Home Awaits

                    </H2>
                </div>
                <div id="many">
                    <p>
                        Consider this an invitation to join 
                        us in any of our services, where we collectively strive 
                        to glorify God and transform lives through justice,
                        mercy, and humble devotion.
                    </p>
                </div>
                <a href="#">
                    <div id="nepa">
                    <p>Join Us</p>
                </div>
                </a>
            </div>
        </div>
    </body>
</html>