{% extends "base.html" %}{% load wagtailcore_tags %}{% load static %}{% load wagtailimages_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship</title>
    {% block extra_styles%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/new-scholarship.css' %}">
    {% endblock %}
    
</head>
<body>
    {% block content %}
    <div class="outreach_list-page">
        <div class="top-header top-banner" style="background-image: {% if page.banner %} url('{{page.banner.url}}') {% else %} url('/static/images/outreach_top.jpg') {% endif %}; background-repeat: no-repeat; background-size: cover;">
        <div class="top-header-text">
            <h2>
                Events
            </h2>
            <p>
                {{page.intro|richtext}}
            </p>
        </div>
        </div>
        <div class="invitation-charge">
            {% for outreach in outreaches %}
            <div class="invitation1">
                <img src="{{outreach.event_image.url}}" style="width:100%; max-height:400px; border-radius: 15px 15px 0px 0px;" alt="love">
                <div class="text-body">
                    <h2>
                        <a href="{% pageurl outreach %}">{{outreach.event_title|title}}</a>
                    </h2>
                    <p>{{outreach.short_description}}</p>
                    <div id="link">
                    <a class="subscribe-btn" role="button" href="{% pageurl outreach %}">Participate</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>