.i-am-new * {
    margin: 0;
    padding: 0;
}

.i-am-new {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.i-am-new .pix {
    background-image: url("/static/images/up.b2cb35b571fb.jpg");
    height: 435px;
    width: 100%;
    /* margin-left: 40px;
    margin-right: 20px; */
    position: relative;
    background-repeat: no-repeat;
}

.i-am-new .dem {
    margin-top: 120px;
    font-weight: bold;
    height: 72px;
    width: 250px;
    position: absolute;
    margin-left: 150px;
}

.i-am-new .dem h3 {
    color: white;
    font-size: 50px;
}

.i-am-new #me {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    font-family: arial;
    color: #fff;
}

.i-am-new .boy {
    margin-top: 80px;
    position: relative;
}

.i-am-new .boy img {
    float: left;
    /* position: relative; */
}

.i-am-new .lam {
    width: 620px;
    Height: 132px;
    margin-left: 550px;
    /* position: absolute; */
}

.i-am-new .rap {
    color: rgba(0, 4, 104, 1);
    font-weight: 350px;
    font-size: 50px;
    line-height: 44px;
    width: 700px;
}

.i-am-new #nop {
    border: 1px solid rgba(0, 4, 104, 1);
    height: 5px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(3, 3, 183);
    margin-top: 30px;
    margin-left: 50px;
}

.i-am-new .hello {
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(41, 41, 41, 1);
    margin-top: 20px;
}

.christ {
    height: 330px;
    display: inline-block;
    margin-left: 25px;
}

.i-am-new .christ img {
    float: right;
    margin-right: 40px;
}

.i-am-new #sch {
    color: rgba(0, 4, 104, 1);
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 80px;
    font-size: 50px;
    font-weight: bold;
}

.i-am-new #late {
    margin-left: 50px;
    font-family: arial;
    margin-top: 20px;
    margin-right: 80px;
}

.i-am-new .spiritual {
    background-image: url("/static/images/spirit.e154e3a14246.png");
    height: 400px;
    margin-bottom: 40px;
    margin-top: 90px;
    margin-left: 70px;
    margin-right: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.i-am-new #mens {
    width: 414px;
    height: 166px;
    margin-top: 70px;
    margin-left: 30px;
    /* /border: 2px solid red; */
}

.i-am-new #mens h2 {
    font-weight: 500;
    font-size: 55px;
    padding: 20px;
    color: white;
}

.i-am-new #many {
    width: 475px;
    height: 166px;
    margin-top: 70px;
    margin-left: 30px;
    /* border: 2px solid red; */
    display: inline-block;
}

.i-am-new #many p {
    color: white;
    line-height: 20px;
}

.i-am-new #nepa {
    float: right;
    margin-right: 200px;
    border: 1px solid white;
    border-radius: 40px;
    height: 70px;
    width: 221px;
}

.i-am-new #nepa p {
    color: white;
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}