:root {
    --primary-value: #000468;
    --red: #FF2E00;
    --black: #000000;
}


/* Defining fonts */

@font-face {
    font-family: Poppins;
    src: url('/static/font/Poppins-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('/static/font/static/RobotoSerif/RobotoSerif-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header CSS */

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #fff;
}

.logo-container {
    width: 86px;
    height: 78px;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.navigation-container nav ul {
    display: flex;
}

.navigation-container nav ul li {
    font-family: Poppins;
    color: var(--primary-value);
    list-style: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.donate-join-container button {
    box-shadow: 10px 20px 40px 0px #00000026;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 700;
}

.donate {
    border: 1px solid var(--primary-value);
    color: var(--primary-value);
    font-family: Poppins;
    margin-right: 20px;
    font-weight: 700;
}

.donate:hover {
    background: var(--primary-value);
    color: #ffffff;
}

.join {
    border: 1px solid var(--primary-value);
    background: var(--primary-value);
    color: #ffffff;
    font-family: Poppins;
}

.join:hover {
    background: #fff;
    color: var(--primary-value);
}


/* Hero Section CSS */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-cta {
    max-width: 421px;
    min-width: 280px;
    padding-left: 40px;
}

.hero-text-cta h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 72.12px;
    font-family: Roboto;
    color: var(--primary-value);
    margin-bottom: 15px;
}

.hero-text-cta p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
}

.hero-text-cta span {
    font-weight: 400;
}

.join-special-button {
    width: 269px;
    height: 74px;
    background-color: #fff;
    box-shadow: 10px 20px 40px 0px #00000026;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 25px;
    border-radius: 35px;
    margin-top: 20px;
}

.join-special-button p {
    color: var(--primary-value);
    font-weight: 900;
    font-size: 30px;
}

.join-special-button .join-arrow {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: var(--primary-value);
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-special-button .join-arrow svg {
    width: 50px;
    fill: #fff;
}

.slideshow {
    width: 60%;
    height: 604px;
}

.slideshow div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}


/* STYLING HOME PAGE ABOUT SECTION */

#about-church {
    width: 100%;
    min-height: 80vh;
    margin-top: 50px;
}

.section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-church .section-title {
    width: fit-content;
    max-width: 397px;
    margin-top: 30px;
    margin-left: 30px;
}

.section-title h1 {
    font-weight: 900;
    font-family: Roboto;
    font-size: 65px;
    color: #fff;
    line-height: 76.12px;
}

.section-title span {
    font-weight: 400 !important;
}

#about-church .know-more {
    margin-right: 30px;
}

#about-church .know-more a {
    color: #fff;
    font-weight: 400;
    font-size: 34px;
    text-decoration: underline;
}

.about-section-main-container {
    margin-top: 50px;
}

.about-card-container {
    display: flex;
    align-items: center;
    height: 384px;
}

.about-card-container .about-card-1 {
    width: 60%;
    padding: 40px 30px;
    height: 100% !important;
    display: flex;
    align-items: center;
}

.about-card-container .about-card-2 {
    width: 40%;
    padding: 50px 40px;
    height: 100% !important;
}

.about-card-container .about-card-1 img {
    max-width: 228px;
    border-radius: 25px;
    max-height: 272px;
    margin-right: 15px;
}

.about-card-container .about-text * {
    color: #fff;
}

.about-card-container .about-text h2 {
    color: #fff;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    font-family: Roboto, serif;
    margin-bottom: 15px;
}

.about-card-container .about-text p {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: Poppins;
}

.about-card-11 {
    background: #7479FF73;
}

.about-card-12 {
    background: #FF9F9F80;
}

.about-card-21 {
    background: #000000B2;
}

.about-card-22 {
    background: #FBFBFB80;
}


/* STYLING REDEMPTION SECTION */

#redemption-section {
    width: 100%;
    max-height: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redemption-section-container .section-title {
    max-width: 596.38px;
}

.redemption-section-body-text {
    margin-top: 40px;
    max-width: 366.11px;
}

.redemption-section-body-text p {
    font-size: 20px;
    font-family: Poppins;
    color: #fff;
}

.redemption-section-container {
    background: #000468C4;
    padding: 50px 20px 15px 10%;
    width: 100%;
}

.redemption-section-container .union-image {
    margin-top: -300px;
}


/* SUBSCRIBE TO NEWSLETTER STYLING */

.subscribe-to-newsletter label {
    font-size: 16px;
    color: #77808B;
    margin-bottom: 15px;
}

.subscribe-to-newsletter .form-wrapper {
    display: flex;
    flex-direction: column;
}

.subscribe-to-newsletter {
    padding: 50px 40px;
    background: #fff;
}

.subscribe-to-newsletter .form_input {
    border: 1px solid #11156E;
    padding: 15px 15px;
    border-radius: 10px;
    min-width: 296px;
}

.subscribe-to-newsletter .section-title {
    margin-bottom: 30px;
}

.subscribe-to-newsletter .section-title h1 {
    color: var(--primary-value);
}

.subscribe-to-newsletter .subscribe-btn {
    padding: 16px 48px 16px 48px;
    background: #11156E;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

input[type='submit'] {
    cursor: pointer;
}


/* STYLING DAILY DEVOTION SECTION */

.daily-devotion {
    padding: 50px 40px;
}

.section-title-container button {
    box-shadow: 10px 20px 40px 0px #00000026;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
}

.daily-devotion .section-title h1 {
    color: var(--primary-value);
}

.daily-devotion .section-title p {
    /* max-width: 296px; */
    font-size: 16px;
    font-family: Poppins;
}

.daily-devotion .section-title span {
    font-weight: 600 !important;
}